apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-node
  labels:
    app: backend-node
spec:
  replicas: 3
  selector:
    matchLabels:
      app: backend-node
  template:
    metadata:
      labels:
        app: backend-node
    spec:
      containers:
      - name: backend-node
        image: ghcr.io/bootcamp-devops-caixabanktech/node:tag
        ports:
        - containerPort: 5000